{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}

<div align="center"> 
  <form  class="form-horizontal" role"form" method="POST" action="/fluxo_caixa/pesquisar/" >{% csrf_token %}
    <div class="col-sm-6" style="height:75px;">
      <div class='col-md-5'>  
        <div class="form-group">
          <label> Data Inicial</label>
          <div >
          <input type="date" class="form-control" name="data_Inicial" value="{{ data_Inicial|date:'d/m/Y' }}" placeholder="01/01/2014" style="margin" />
         
          </div>
        </div>
      </div>

        <div class="col-md-5">
        <div class="form-group">          
          <label> Data Final</label>
        <div>
          <input type="date" class="form-control" name="data_Final" value="{{ data_Final|date:'d/m/Y' }}" placeholder="01/01/2014"/>
          
      </div>
      </div>
      </div>
    </div>
     <div class="row">
        <div class="col-md-2" style="margin-top: 18px;" align="center">
          <button type="submit" class="btn btn-primary">Pesquisar <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
  </form>
</div>
<hr>
<br />
<div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição:</th>
            <th>Data</th>
            <th>Tipo</th>
            <th class="success">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td>{{ conta.pessoa.nome }}</td>            
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
            <td>{{ conta.valor }}</td>
          </tr>
        {% endfor %}          
        </tbody>
      </table>
</div>

{% endblock conteudo %}